* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.main-header {
    background-color: #43afae;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    position: sticky;
    top: 0;
}

.nav-menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.5s;
}

.nav-menu a:hover {
    color: #ffcc00;
}

#footer-main {
    text-align: center;
    background-color: #43afae;
    margin: 0;
    padding: 1rem 0;
}

#section-carrusel-cremas{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
    scroll-snap-type: x mandatory;
}

.card-cremas{
    min-width: 200px;
    background: #f5ed50;
    padding: 20px;
    text-align: center;
    scroll-snap-align: start;
    flex-shrink: 0;
}


#section-carrusel-frutas {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
    scroll-snap-type: x mandatory;
}

.card-frutas{
     min-width: 200px;
    background: #c461d1;
    padding: 20px;
    text-align: center;
    scroll-snap-align: start;
    flex-shrink: 0;
}